[core]
	editor = vim
	excludesfile = ~/.gitignore
[alias]
	ll2 = log --oneline --graph --all --decorate
	ll = log --graph --all --decorate --format=format:'%C(bold cyan)%h%C(reset) %C(dim cyan)(%ar)%C(reset)%C(auto)%d%C(reset) %C(white)%s%C(reset) %C(dim white)(%ae) %C(reset)'
	st = status -s
	sta = status
	ci = commit
	cia = commit --amend
	cian = commit --amend --no-edit
	rs = reset
	ad = add
	co = checkout
	cob = checkout -b
	br = branch
	pushu = push -u
	cp = cherry-pick
	rb = rebase
	rbi = rebase --interactive
	me = merge
	di = diff
	dic = diff --cached
	wdi = diff --word-diff --color-words
	wdic = diff --cached --word-diff --color-words
	backup = "!git branch backup/$(git rev-parse --abbrev-ref HEAD)"
	cutbr = "!git branch --merged | egrep -v '(^\\*|master|dev)' | xargs git branch -d"
[user]
	name = Jaroslav Šmolík
[push]
	default = current
